header.header.clearfix
	.container
			nav.main-nav.clearfix
				ul.main-nav__list
					li.main-nav__item.active
						a.main-nav__link(href="#home", title="bla") Home
					li.main-nav__item
						a.main-nav__link(href="#specials", title="bla") Specials
					li.main-nav__item
						a.main-nav__link(href="#about", title="bla") About
					li.main-nav__item
						a.main-nav__link(href="#menu", title="bla") Menu
					li.main-nav__item
						a.main-nav__link(href="#contact", title="bla") Contact
				.burger-menu
					span.burger-menu__bar
			.header__content
				h1.title Veggies es bonus vobis, proinde vos postulo essum.


section.adv
	.container
		ul.adv__list
			li.adv__item
				i.adv__icon.adv__icon_cup
				h3.adv__title Turnip greens
				p.adv__description Lorem ipsum dolor sit amet, consectetur adipisc Pellentesque vel enim a elit viverra elementuma.Aliquam erat volutpat. 
			li.adv__item
				i.adv__icon.adv__icon_tea
				h3.adv__title Beetroot water
				p.adv__description Lorem ipsum dolor sit amet, consectetur adipisc Pellentesque vel enim a elit viverra elementuma.Aliquam erat volutpat.
			li.adv__item
				i.adv__icon.adv__icon_cake
				h3.adv__title Get social
				p.adv__description Lorem ipsum dolor sit amet, consectetur adipisc Pellentesque vel enim a elit viverra elementuma.Aliquam erat volutpat.

section.spec#specials
	.container
		h2.title This month specials
		.spec__top
			ul.spec__list
				li.spec__item.clearfix
					img.spec__item-img(src="static/img/content/dish_1.jpg", alt="dish")
					.spec__item-content
						h4.spec__item-title Greens fava
						p.spec__item-descr Lorem ipsum dolor sit Pellentesque vel enim a
						span.spec__item-price 17$
				li.spec__item.clearfix
					img.spec__item-img(src="static/img/content/dish_2.jpg", alt="dish")
					.spec__item-content
						h4.spec__item-title Greens fava
						p.spec__item-descr Lorem ipsum dolor sit Pellentesque vel enim a
						span.spec__item-price 17$
				li.spec__item.clearfix
					img.spec__item-img(src="static/img/content/dish_3.jpg", alt="dish")
					.spec__item-content
						h4.spec__item-title Greens fava
						p.spec__item-descr Lorem ipsum dolor sit Pellentesque vel enim a
						span.spec__item-price 17$
		.spec__bottom
			ul.spec__list
				li.spec__item.clearfix
					.spec__item-content
						h4.spec__item-title Greens fava
						p.spec__item-descr Lorem ipsum dolor sit Pellentesque vel enim a
						span.spec__item-price 17$
					img.spec__item-img(src="static/img/content/dish_4.jpg", alt="dish")
				li.spec__item.clearfix
					.spec__item-content
						h4.spec__item-title Greens fava
						p.spec__item-descr Lorem ipsum dolor sit Pellentesque vel enim a
						span.spec__item-price 17$
					img.spec__item-img(src="static/img/content/dish_5.jpg", alt="dish")
				li.spec__item.clearfix
					.spec__item-content
						h4.spec__item-title Greens fava
						p.spec__item-descr Lorem ipsum dolor sit Pellentesque vel enim a
						span.spec__item-price 17$
					img.spec__item-img(src="static/img/content/dish_2.jpg", alt="dish")


section.about#about.clearfix
	.about__content
		h2.title About us
		p.about__text Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.
	.about__img
		img.about__pic(src="static/img/content/plate.jpg", alt="plate")


section.menu#menu
	.container
		h2.title Menu
		ul.tabs__list
			li.tabs__link.active Starters
			li.tabs__link Main Dishes 
			li.tabs__link Desserts
			li.tabs__link Drinks
		.tabs__menu
			.tabs__menu-section
				ul.tabs__menu-list
					li.tabs__menu-item.clearfix
						.tabs__menu-item-name Smoked ricotta terrine
						.tabs__menu-item-price $12
						.tabs__menu-item-descr ricotta,shallots,cheddar,capers
					li.tabs__menu-item
						.tabs__menu-item-name Shamphire fritters with fennel cheviche
						.tabs__menu-item-price $19
						.tabs__menu-item-descr fresh samphire,plain flour, cornflower,eggs,fennel
					li.tabs__menu-item
						.tabs__menu-item-name Pan fried courgette flowers
						.tabs__menu-item-price $13
						.tabs__menu-item-descr courgette flowers, goats chese, red onion, pine nuts
					li.tabs__menu-item
						.tabs__menu-item-name Smoked ricotta terrine
						.tabs__menu-item-price $12
						.tabs__menu-item-descr ricotta,shallots,cheddar,capers
					li.tabs__menu-item
						.tabs__menu-item-name Smoked ricotta terrine
						.tabs__menu-item-price $12
						.tabs__menu-item-descr ricotta,shallots,cheddar,capers
					li.tabs__menu-item
						.tabs__menu-item-name Smoked ricotta terrine
						.tabs__menu-item-price $12
						.tabs__menu-item-descr ricotta,shallots,cheddar,capers
				ul.tabs__menu-list
					li.tabs__menu-item
						.tabs__menu-item-name Delicious Dish
						.tabs__menu-item-price $50
						.tabs__menu-item-descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
					li.tabs__menu-item
						.tabs__menu-item-name Delicious Dish
						.tabs__menu-item-price $50
						.tabs__menu-item-descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
					li.tabs__menu-item
						.tabs__menu-item-name Delicious Dish
						.tabs__menu-item-price $50
						.tabs__menu-item-descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
					li.tabs__menu-item
						.tabs__menu-item-name Pan fried courgette flowers
						.tabs__menu-item-price $13
						.tabs__menu-item-descr courgette flowers, goats chese, red onion, pine nuts
					li.tabs__menu-item
						.tabs__menu-item-name Pan fried courgette flowers
						.tabs__menu-item-price $13
						.tabs__menu-item-descr courgette flowers, goats chese, red onion, pine nuts
					li.tabs__menu-item
						.tabs__menu-item-name Pan fried courgette flowers
						.tabs__menu-item-price $13
						.tabs__menu-item-descr courgette flowers, goats chese, red onion, pine nuts
			.tabs__menu-section
				ul.tabs__menu-list
					li.tabs__menu-item
						.tabs__menu-item-name Smoked ricotta terrine
						.tabs__menu-item-price $12
						.tabs__menu-item-descr ricotta,shallots,cheddar,capers
					li.tabs__menu-item
						.tabs__menu-item-name Shamphire fritters with fennel cheviche
						.tabs__menu-item-price $19
						.tabs__menu-item-descr fresh samphire,plain flour, cornflower,eggs,fennel
					li.tabs__menu-item
						.tabs__menu-item-name Pan fried courgette flowers
						.tabs__menu-item-price $13
						.tabs__menu-item-descr courgette flowers, goats chese, red onion, pine nuts
					li.tabs__menu-item
						.tabs__menu-item-name Smoked ricotta terrine
						.tabs__menu-item-price $12
						.tabs__menu-item-descr ricotta,shallots,cheddar,capers
				ul.tabs__menu-list
					li.tabs__menu-item
						.tabs__menu-item-name Delicious Dish
						.tabs__menu-item-price $50
						.tabs__menu-item-descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
					li.tabs__menu-item
						.tabs__menu-item-name Delicious Dish
						.tabs__menu-item-price $50
						.tabs__menu-item-descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
					li.tabs__menu-item
						.tabs__menu-item-name Delicious Dish
						.tabs__menu-item-price $50
						.tabs__menu-item-descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
					li.tabs__menu-item
						.tabs__menu-item-name Pan fried courgette flowers
						.tabs__menu-item-price $13
						.tabs__menu-item-descr courgette flowers, goats chese, red onion, pine nuts
					li.tabs__menu-item
						.tabs__menu-item-name Pan fried courgette flowers
						.tabs__menu-item-price $13
						.tabs__menu-item-descr courgette flowers, goats chese, red onion, pine nuts
			.tabs__menu-section
			.tabs__menu-section


footer.footer
	.container.clearfix
		section.contact#contact
			h2.title Contact
			.contact__item
				h3.contact__item-title Veggie
				p.contact__item-content 3428 Magnolia Avenue Hackettstown, NJ 07840
			.contact__item
				h3.contact__item-title Reservations
				p.contact__item-content
					a.contact__item-link(href="#", title="email") reservations@vegggie.com
					a.contact__item-link(href="#", title="phone") +48 202-555-0114
			form.contact-form
				h3.contact-form__title Contact form
				input(type="text" name="name" placeholder="Name" required).contact-form__field.contact-form__field_name
				input(type="email" name="email" placeholder="Email" required).contact-form__field.contact-form__field_email
				textarea(rows="1" name="text" placeholder="Text").contact-form__field.contact-form__field_txt
				input(type="submit" value="Send").contact-form__btn
		.footer__bottom
			.container.clearfix
				span.copyright Copyright 2015 ©  by Anna Dadej
				ul.socials
					li.socials__item
						a(href="#" title="fb").socials__link fb
							i.socials__ico.socials__ico_fb 
					li.socials__item
						a(href="#" title="fb").socials__link insta
							i.socials__ico.socials__ico_ins 

.off-canvas
	ul.main-nav__list
		li.main-nav__item.active
			a.main-nav__link(href="#home", title="bla") Home
		li.main-nav__item
			a.main-nav__link(href="#specials", title="bla") Specials
		li.main-nav__item
			a.main-nav__link(href="#about", title="bla") About
		li.main-nav__item
			a.main-nav__link(href="#menu", title="bla") Menu
		li.main-nav__item
			a.main-nav__link(href="#contact", title="bla") Contact
	ul.socials
		li.socials__item
			a(href="#" title="fb").socials__link fb
				i.socials__ico.socials__ico_fb 
		li.socials__item
			a(href="#" title="fb").socials__link insta
				i.socials__ico.socials__ico_ins
